/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
body{
  background-color:black;
}
@media (min-width: 1800px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-height: 2000px) {
  body {
    overflow-y: hidden;
  }
}

html>body{
  font-family: 'Press Start 2P', cursive;
   cursor:url(https://ifh.cc/g/nOsMnd.png),auto;
}
.con{
  width:1920px;
  padding:0 170px;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.group {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.group > * {
  flex-shrink: 0;
}

.group > :nth-child(2) {
  flex-grow: 1;
  min-height: 500px;
}

.d3d-box {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  background-color: black;
  background-size: cover;
}
.d3d-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.box {
  --depth: 9vmin;
  position: relative;
  transform-style: preserve-3d;
}
.box__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-0);
}
.box__side--left, .box__side--right {
  width: var(--depth);
  transform-origin: 0 0;
  background-color: var(--grey-1);
}
.box__side--left {
  transform: rotateY(90deg);
}
.box__side--right {
  left: 100%;
  transform: rotateY(-90deg) translateX(-100%);
}
.box__side--back {
  transform: rotateY(180deg) translateZ(var(--depth));
}
.box__side--top {
  transform-origin: 0 100%;
  top: auto;
  height: var(--depth);
  bottom: 100%;
  background-color: var(--grey-2);
  transform: rotateX(90deg);
}
.cartridge__picture .box__side--bottom {
  background-color: var(--grey-2);
  transform-origin: 0 0;
  top: 100%;
  height: var(--depth);
  transform: rotateX(-90deg);
}

.cartridge {
  --grey-0: #9c9c9c;
  --grey-1: #8C8C8C;
  --grey-2: #B0B0B0;
  --grey-3: #8C8C8C;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}
.cartridge__picture {
  position: absolute;
  top: 0;
  left: 5vmin;
  width: 75%;
  height: 80%;
  border-radius: 0 0 0.75vmin 0.75vmin;
  background-color: white;
  background-image: url(https://cdn.jsdelivr.net/gh/rmsgkr5623/blog/docs/img/game_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 -1vmin 2vmin rgba(0, 0, 0, 0.05);
}
.cartridge__triangle {
  position: absolute;
  bottom: 0;
  left: 3vmin;
  width: 0;
  height: 0;
  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-top: 3.75vmin solid rgba(0, 0, 0, 0.05);
}
.cartridge .stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 1vmin, rgba(0, 0, 0, 0.075) 1vmin, rgba(0, 0, 0, 0.075) 2vmin, var(--grey-1) 2vmin);
  background-size: 100% 2vmin;
}
.touch-device .cartridge {
  -webkit-animation: cartridge 75s linear infinite;
          animation: cartridge 75s linear infinite;
}

.body,
.bottom {
  position: relative;
}

.body {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 60vmin;
  aspect-ratio: 1/1;
}
.body__left {
  position: relative;
  width: 15%;
  height: 100%;
}
.body__middle {
  display: block;
  position: relative;
  width: 26%;
  height: 100%;
  overflow: visible;
  transform-style: preserve-3d;
}
.body__middle__top {
  --depth: 3vmin;
  position: relative;
  width: 100%;
  height: 18%;
  transform: translateZ(-3vmin);
}
.body__middle__top .box__side--front, .body__middle__top .box__side--back {
  box-shadow: inset 0 -6vmin 4.5vmin rgba(0, 0, 0, 0.15);
}
.body__middle__bottom {
  position: relative;
  width: 100%;
  height: 82%;
}
.body__right {
  position: relative;
  width: 59%;
  height: 100%;
}
.body__right .box__side--top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5vmin;
  width: 75%;
  height: 50%;
  background-color: white;
}

.bottom {
  top: -1px;
  left: 50%;
  width: 51vmin;
  aspect-ratio: 5/1;
  transform: translateX(-50%);
}
.bottom .stripes__wrapper {
  top: 0;
  left: 8.9%;
  position: absolute;
  width: 30.5%;
  height: 100%;
}
.bottom .stripes__wrapper .stripes {
  background-position: 0 -1.13vmin;
}
.bottom .stripes__wrapper .stripes::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.5vmin;
  border-radius: 0.75vmin 0.75vmin 0 0;
  background-color: var(--grey-0);
  box-shadow: inset -0.37vmin 0 1.5vmin rgba(0, 0, 0, 0.1);
}
.bottom .box__side--bottom {
  background-color: #000;
  box-shadow: inset 0 -0.75vmin 4.5vmin rgba(255, 255, 255, 0.3);
  border: solid 2.25vmin var(--grey-2);
}
.bottom .box__side--bottom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7%;
  width: 86%;
  height: 12%;
  background-color: #fff;
  transform: translateY(-50%);
}

.hole {
  position: absolute;
  width: 2.25vmin;
  height: 2.25vmin;
  background-image: radial-gradient(black, rgba(0, 0, 0, 0.5));
  border-radius: 50%;
  transform: rotateX(180deg) translateZ(9vmin);
  opacity: 0.7;
}
.hole--1 {
  left: 1.5vmin;
  bottom: 1.5vmin;
}
.hole--2 {
  right: 1.5vmin;
  bottom: 1.5vmin;
}
.hole--3 {
  left: 50%;
  bottom: 24vmin;
  transform: translateX(-50%) rotateX(180deg) translateZ(9vmin);
}

.back-large > a > img {
  width: 150px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.back-large {
  background-image: url();
  position: absolute;
  bottom: 4.5vmin;
  left: 50%;
  width: 74%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateX(-50%) rotateX(180deg) translateZ(9vmin);
  box-shadow: inset 0 0.75vmin 0.75vmin rgba(255, 255, 255, 0.15), inset 0 -0.75vmin 0.75vmin rgba(0, 0, 0, 0.15);
}

.back-small {
  position: absolute;
  bottom: 3vmin;
  left: 50%;
  width: 50%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateX(-50%) rotateX(180deg) translateZ(9vmin);
  box-shadow: inset 0 0.75vmin 0.75vmin rgba(255, 255, 255, 0.15), inset 0 -0.75vmin 0.75vmin rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes cartridge {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(720deg) rotateX(-720deg) rotateZ(-3600deg);
  }
}

@keyframes cartridge {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(720deg) rotateX(-720deg) rotateZ(-3600deg);
  }
}
/*메뉴바*/
.strongglow {
  text-shadow:
  0 0 30px #ffffff,0 0 10px #ffffff;
}
.menu-box-16{
  
 padding-top:50px;
  z-index:999;
}
.text-menu-20{
  color:white;
  font-size:60px;
}
.fa-solid{
  color:white;
  font-size:28px;
}
.top-menu-box {
  position:fixed;
  top:20px;
  right:160px;
  width:40px;
  height:40px;
  border-radius:50%;
  transition:all .5s;
  display:flex;
  align-items:center;
  justify-content:center;
}

.top-menu-box__btn-toggle {
  position:relative;
  top:-15px;
  left:1550px;
  width:40px;
  height:40px;
  border-radius:50%;
  cursor:pointer;
   cursor: url(https://cdn.jsdelivr.net/gh/rmsgkr5623/project-gh/docs/portpolio_ch/img/cursor_1.png) 14 0,pointer;
}

html.top-menu-box-actived .top-menu-box {
  top:-50%;
  right:-50%;
  width:200%;
  height:200%;
  background-color:#16F05E;
}

html.top-menu-box-actived .top-menu-box__btn-toggle {
 background-image:url(
https://cdn.jsdelivr.net/gh/rmsgkr5623/blog/docs/img/close.png);
  background-position:top center;
  background-repeat:no-repeat;
  width:90px;
  height:90px;
}

.top-menu-box__box {
  width:100vh;
  height:100vh;
  visibility:hidden;
  opacity:0;
  transition: all .499s 0.001s;
}

html.top-menu-box-actived .top-menu-box__box {
  visibility:visible;
  opacity:1;
}

html.top-menu-box-actived,
html.top-menu-box-actived > body {
  overflow:hidden;
}
.ge-10{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
 
}
.ge-10 ul{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:30px;
}
.ge-10 ul>li{
  position:relative;
}
.ge-10 ul>li{
  position:relative;
  font-size:3em;
  line-height:1em;
  letter-spacing:2px;
  text-transform:uppercase;
  color:transparent;
  -webkit-text-stroke:1px #24FF00;
}
.ge-10 ul>li>a::before{
  content:attr(data-text);
  position:absolute;
  color:var(--clr);
  width:0;
  overflow:hidden;
  transition:1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke:1px var(--clr);
}
.ge-10 ul>li>a:hover::before{
  width:100%;
  filter:drop-shadow(0 0 25px var(--clr));
}
.ge-10 ul>li>a{
  position:relative;
  
}
/*다음단계 버튼*/
.hover-ani:hover>span:first-child{
  font-size:4.2rem;
  margin-top:-10px;
  transition:font-size .8s,margin-top .7s;
}

.hover-ani{
  cursor:pointer;
  
}
.hover-ani>span:first-child+.hover-en{
   font-size:4rem;
  font-weight:bold;
  
}
.hover-ani:hover>span:first-child+.hover-en-1 {
  --color-10:red;
  --color-20:blue;
  --color-30:green;
  font-size:4rem;
  font-weight:bold;
  animation-name:ani-40;
  animation-duration:4s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-play-state:running;
}

.hover-ani{
  color:white;
  font-size:60px;
 
  margin-left:600px;
}

.hover-en-1 > span:nth-child(1) {
  color:var(--color-10);
  text-shadow:var(--color-40);
}
.hover-en-1 > span:nth-child(2) {
  color:var(--color-20);
  text-shadow:var(--color-50);
}
.hover-en-1 > span:nth-child(3) {
  color:var(--color-30);
  text-shadow:var(--color-60);
}

.hover-en-1>span{
  margin-right:-5.8rem;
}

.hover-en-1>span{
  transition:color .5s,text-shadow .5s;
}

@keyframes ani-40 {
   0% { 
    --color-10:white;
    --color-40:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-20:white;
    --color-50:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
   10% { 
    --color-10:red;
    --color-40:0 0 30px #FF0000,0 0 10px #FF0000;
    --color-20:white;
    --color-50:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
    20% { 
    --color-10:red;
    --color-40:0 0 30px #FF0000,0 0 10px #FF0000;
    --color-20:yellow;
    --color-50:0 0 30px #FFF500,0 0 10px #FFF500;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
   30% { 
    --color-10:red;
    --color-40:0 0 30px #FF0000,0 0 10px #FF0000;
    --color-20:yellow;
    --color-50:0 0 30px #FFF500,0 0 10px #FFF500;
    --color-30:blue;
    --color-60:0 0 30px #0E28C8,0 0 10px #0E28C8;
  }
   40% { 
    --color-10:white;
    --color-40:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-20:white;
    --color-50:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
  50% { 
    --color-10:#24FF00;
    --color-40:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-20:#24FF00;
    --color-50:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-30:#24FF00;
    --color-60:0 0 30px #24FF00,0 0 10px #24FF00;
  }
  60% { 
    --color-10:white;
    --color-40:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-20:white;
    --color-50:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
  80% { 
    --color-10:#24FF00;
    --color-40:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-20:#24FF00;
    --color-50:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-30:#24FF00;
    --color-60:0 0 30px #24FF00,0 0 10px #24FF00;
  }
  90% { 
     --color-10:white;
    --color-40:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-20:white;
    --color-50:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
    --color-30:white;
    --color-60:0 0 30px #FFFFFF,0 0 10px #FFFFFF;
  }
  100% { 
     --color-10:#24FF00;
    --color-40:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-20:#24FF00;
    --color-50:0 0 30px #24FF00,0 0 10px #24FF00;
    --color-30:#24FF00;
    --color-60:0 0 30px #24FF00,0 0 10px #24FF00;
  }
}
html.top-menu-box-actived .top-menu-box__btn-toggle {
    background-image: url(https://ifh.cc/g/c9sXpW.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}
